.sidenav {
  width: 275px;
  height: 100vh;
  padding: 1rem;

  .menu_items_container {
    height: 70%;
    padding: 0;

    .mat-drawer-inner-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .menu_item {
      width: 100%;
      max-width: 125px;
      padding: 1rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 0.9rem;
      border-radius: 2rem;
      margin-bottom: 0.55rem;
      &:hover {
        background-color: #3806c7;
        font-weight: 400;
        cursor: pointer;
        a {
          color: white;
        }
        mat-icon.menu_icon {
          color: white;
          font-variation-settings: "wght" 400;
        }
      }

      &.logo {
        max-width: 200px;
      }
      &.active_link {
        background-color: #3807c7;
        color: white;
        a {
          color: white;
        }
        mat-icon.menu_icon {
          font-variation-settings: "wght" 300;
        }
      }
      a {
        color: black;
        text-decoration: none;
      }

      .menu_icon,
      .material-symbols-outlined {
        padding-right: 0.25rem;
        font-variation-settings: "wght" 200;
        font-size: 1.35rem;
        line-height: 1;
      }
    }
    .menu_item:first-child {
      margin-bottom: 2rem;
      color: rgb(107, 0, 189);
      font-size: 28px;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
  .get_support {
    width: 100%;
    max-width: 200px;
    height: 20%;
    background-color: #dae2ff;
    padding: 1rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-size: 1rem;
      color: rgb(45, 45, 45);
      font-weight: 400;
      text-align: center;
    }
    button {
      margin-top: 1rem;
      width: 80%;
      padding: 1rem;
      background-color: #3806c7;
      color: white;
      border: none;
      border-radius: 25px;
      font-size: 1rem;
    }
  }
}

.mat-drawer-content {
  height: 100%;
  padding: 1rem;
}

mat-drawer-container {
  height: 100%;
  background-color: rgba(242, 243, 246);
}
