.content_kpi {
  margin-bottom: 20px;
}

.content_devices,
.content_kpi {
  background-color: rgba(242, 243, 246);
}
mat-grid-tile {
  border-radius: 0.25rem;
  box-shadow: 4px 4px 8px rgba(94, 1, 99, 0.35);
  background-color: white;
  overflow: hidden;
  height: 100%;

  mat-card {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;

    .doughnut_chart.chart_container {
      height: 100%;
      width: 200px;
      canvas.doughnut_chart {
        height: 100%;
        padding: 1rem;
      }
    }
    mat-card-header {
      display: flex;
      justify-content: space-between;
      padding: 0;

      mat-card-title {
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
      }
      mat-chip.online {
        background-color: rgb(212, 240, 212);
      }

      mat-chip.offline {
        background-color: rgb(250, 195, 195);
      }
    }
    mat-card-content {
      height: 100%;
      padding: 0;
      .device_card_value {
        font-size: 2.5rem;
      }
    }
  }
  .kpi_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .kpi_content {
      width: 80%;
      display: flex;

      .icon_container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        mat-icon {
          font-size: 24px;
          color: #3807c7;
          line-height: 1;
          display: block;
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 80px;
          opacity: 0.08;
          width: 90px;
          height: 90px;
        }
      }
    }

    .kpi_header {
      display: flex;
      flex-direction: column;
      padding: 1rem;

      .mat-icon.diff_icon_minus,
      .kpi_diff_minus {
        color: rgb(127, 1, 1);
        font-size: 0.9rem;
      }
      .mat-icon.diff_icon_plus,
      .kpi_diff_plus {
        color: rgb(0, 107, 0);
        font-size: 0.9rem;
      }
      .kpi_diff_minus,
      .kpi_diff_plus {
        position: relative;
      }
      .diff_icon {
        position: absolute;
        font-variation-settings: "wght" 400;
        font-size: 0.9rem;
      }
    }
  }
  .device_card {
    padding: 1rem;
    mat-card-header {
      padding: 1rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.first .kpi_card {
  background-color: #3807c7;
  color: white;
  .kpi_content {
    .icon_container {
      mat-icon {
        color: white;
      }
    }
  }
}
