<div class="content_container">
  <div class="content_kpi">
    <mat-grid-list cols="4" rowHeight="125px" gutterSize="12px">
      @for (kpi of kpiDevices(); track kpi.label; let i = $index) {
        <mat-grid-tile [class.first]="i === 0">
          <mat-card class="kpi_card">
            <mat-card-header class="kpi_header">
              <mat-card-title>{{ kpi.label }}</mat-card-title>
              <h1>{{ kpi.value }}</h1>
              @if (kpi.label === "Active" || kpi.label === "Off") {
                <app-trend [kpi]="kpi"></app-trend>
              }
            </mat-card-header>
            <mat-card-content class="kpi_content">
              <div class="icon_container">
                <mat-icon fontIcon="{{ kpi.icon }}"></mat-icon>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      }
    </mat-grid-list>
  </div>
  @if (devices().length !== 0) {
    <div class="content_devices">
      <mat-grid-list cols="4" rowHeight="280px" gutterSize="12px">
        @for (device of devices(); track device.id) {
          <mat-grid-tile
            [rowspan]="layoutRowspan[device.id]"
            [colspan]="layoutColumns[device.id]"
          >
            <mat-card class="device_card">
              <mat-card-header [routerLink]="['/devices', device.id]">
                <mat-card-title>{{ device.name }}</mat-card-title>
                <app-status [status]="device.status"></app-status>
              </mat-card-header>
              @for (widget of widgets(); track widget.widgetId) {
                @if (device.id === widget.deviceId) {
                  <mat-card-content>
                    <app-chart [widgetInput]="widget"></app-chart>
                  </mat-card-content>
                }
              }
            </mat-card>
          </mat-grid-tile>
        }
      </mat-grid-list>
      <app-table></app-table>
    </div>
  }
</div>
