<div class="content_container">
  <div class="content_kpi">
    <mat-grid-list cols="4" rowHeight="150px" gutterSize="12px">
      @for (kpi of kpiDevices(); track kpi.label; let i = $index) {
        <mat-grid-tile [class.first]="i === 0">
          <mat-card class="kpi_card">
            <mat-card-header class="kpi_header">
              <mat-card-title>{{ kpi.label }}</mat-card-title>
              <h1>{{ kpi.value }}</h1>
              @if (kpi.label === "Active" || kpi.label === "Off") {
                @if (kpi.diff > 0 && kpi.label === "Active") {
                  <p class="kpi_diff_plus">
                    +{{ kpi.diff }}
                    <mat-icon
                      class="diff_icon diff_icon_plus material-symbols-outlined"
                      fontIcon="arrow_upward"
                    ></mat-icon>
                  </p>
                }
                @if (kpi.diff < 0 && kpi.label === "Active") {
                  <p class="kpi_diff_minus">
                    -{{ kpi.diff }}
                    <mat-icon
                      class="diff_icon diff_icon_minus material-symbols-outlined"
                      fontIcon="arrow_downward"
                    ></mat-icon>
                  </p>
                }
                @if (kpi.diff > 0 && kpi.label === "Off") {
                  <p class="kpi_diff_plus">
                    +{{ kpi.diff }}
                    <mat-icon
                      class="diff_icon diff_icon_plus material-symbols-outlined"
                      fontIcon="arrow_upward"
                    ></mat-icon>
                  </p>
                }
                @if (kpi.diff < 0 && kpi.label === "Off") {
                  <p class="kpi_diff_minus">
                    -{{ kpi.diff }}
                    <mat-icon
                      class="diff_icon diff_icon_minus material-symbols-outlined"
                      fontIcon="arrow_downward"
                    ></mat-icon>
                  </p>
                }
              } @else {}

              <!-- @if (kpi.diff() !== "undefined") {

              @if (kpi.diff() && (kpi.label === "Active") > 0) {
                <p>+{{ kpi.diff() }}</p>
              }
              @if (kpi.diff() && (kpi.label === "Off") < 0) {
                <p>-{{ kpi.diff() }}</p>
              } -->
              <!-- } -->
            </mat-card-header>
            <mat-card-content class="kpi_content">
              <div class="icon_container">
                <mat-icon fontIcon="{{ kpi.icon }}"></mat-icon>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      }
    </mat-grid-list>
  </div>
  @if (devices().length !== 0) {
    <div class="content_devices">
      <mat-grid-list cols="4" rowHeight="280px" gutterSize="12px">
        @for (device of devices(); track device.id) {
          <mat-grid-tile
            [rowspan]="layoutRowspan[device.id]"
            [colspan]="layoutColumns[device.id]"
          >
            <mat-card class="device_card">
              <mat-card-header [routerLink]="['/devices', device.id]">
                <mat-card-title>{{ device.name }}</mat-card-title>
                @if (device.status) {
                  <mat-chip
                    [class.online]="device.status === 'online'"
                    [class.offline]="device.status !== 'online'"
                    >{{ device.status }}</mat-chip
                  >
                }
              </mat-card-header>
              @for (widget of widgets(); track widget.widgetId) {
                @if (device.id === widget.deviceId) {
                  <mat-card-content>
                    <app-chart [widgetInput]="widget"></app-chart>
                  </mat-card-content>
                }
              }
            </mat-card>
          </mat-grid-tile>
        }
      </mat-grid-list>
    </div>
  }
</div>
