<div class="content_container">
  <div class="content_kpi">
    <mat-grid-list cols="4" rowHeight="150px" gutterSize="12px">
      @for (kpi of kpiDevices(); track kpi.label; let i = $index) {
        <mat-grid-tile>
          <mat-card class="kpi_card">
            <mat-card-header class="kpi_header">
              <mat-card-title>{{ kpi.label }}</mat-card-title>
              <h1>{{ kpi.value }}</h1>
            </mat-card-header>
            <mat-card-content class="kpi_content">
              @if (i === 0) {
                <div class="chart_content">
                  <div
                    class="doughnut_chart"
                    style="height: 100%; width: 200px"
                  >
                    <app-widget [widget]="widgets()[3]"></app-widget>
                  </div>
                </div>
              } @else {
                <div class="icon_container">
                  <mat-icon fontIcon="{{ kpi.icon }}"></mat-icon>
                </div>
              }
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      }
    </mat-grid-list>
  </div>
  @if (devices().length !== 0) {
    <div class="content_devices">
      <mat-grid-list cols="4" rowHeight="280px" gutterSize="12px">
        @for (device of devices(); track device.id) {
          <mat-grid-tile
            [routerLink]="['/devices', device.id]"
            [rowspan]="layoutRowspan[device.id]"
            [colspan]="layoutColumns[device.id]"
          >
            <mat-card class="device_card">
              <mat-card-header>
                <mat-card-title>{{ device.name }}</mat-card-title>
                @if (device.status) {
                  <mat-chip
                    [class.online]="device.status === 'online'"
                    [class.offline]="device.status !== 'online'"
                    >{{ device.status }}</mat-chip
                  >
                }
              </mat-card-header>
              @for (widget of widgets(); track widget.widgetId) {
                @if (widget.deviceId === device.id) {
                  <mat-card-content>
                    <app-widget [widget]="widget"></app-widget>
                  </mat-card-content>
                }
              }
            </mat-card>
          </mat-grid-tile>
        }
      </mat-grid-list>
    </div>
  }
</div>
