/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@import "@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.content_container {
  margin: 0 auto;
  padding: 1.5rem;
}
.mat-mdc-chip.online .mdc-evolution-chip__text-label {
  color: rgb(0, 107, 0) !important;
}

.mat-mdc-chip.offline .mdc-evolution-chip__text-label {
  color: rgb(127, 1, 1) !important;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.mat-mdc-tooltip {
  --mdc-plain-tooltip-container-color: #ff7300 !important;
  --mdc-plain-tooltip-supporting-text-color: #ffffff;
  --mdc-plain-tooltip-container-position: "right";
  --mdc-plain-tooltip-supporting-text-line-height: 1rem;
  --mdc-plain-tooltip-supporting-text-tracking: 0.02rem
    --mdc-plain-tooltip-container-shape: 20px;
}

.vacuum_pow_us {
  --mdc-plain-tooltip-container-color: #26c8de !important;
}
.air_con {
  --mdc-plain-tooltip-container-color: #1172d1 !important;
}
.solar_inp {
  --mdc-plain-tooltip-container-color: #ff7300 !important;
}
.solar_out {
  --mdc-plain-tooltip-container-color: #cb2454 !important;
}
.vacuum_loa {
  --mdc-plain-tooltip-container-color: #b925ff !important;
}
