/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@import "@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.content_container {
  margin: 0 auto;
  padding: 1.5rem;
}
.mat-mdc-chip.online .mdc-evolution-chip__text-label {
  color: rgb(0, 107, 0) !important;
}

.mat-mdc-chip.offline .mdc-evolution-chip__text-label {
  color: rgb(127, 1, 1) !important;
}
