<div>
  <p>info</p>
  <!-- @if (widget !== null) {
    <p>{{ widget.kpiType }}</p>

    @switch (widget.kpiType) {
      @case ("active") {
        <h1>{{ onlineDevs() }}</h1>
        <p>
          {{ deltaOnline > 0 ? "+" : "" }}{{ deltaOnline }} from last update
        </p>
      }

      @case ("error") {
        <h1>{{ offlineDevs() }}</h1>
      }
      @case ("avg") {
        <h1>{{ 4 }}</h1>
      }
      @case ("peak") {
        <h1>5</h1>
      }
      @default {
        Default case.
      }
    }
  } -->
</div>
